<h1 class="animated fadeIn fast">Sobre Comics App</h1>
<hr>
<p class="animated fadeIn">
    Héroes appp es una página para conocer a tus super héroes favoritos y y saber de casa provienen, conocer desde que año salierón a la luz, sus super poderes, su historia y sobre su vida personal.
</p>
<br>

<h1 class="animated fadeIn">Extra</h1>
<p class="animated fadeIn">Los cómics de superhéroes constituyen una de esas formas de
    arte originales de Estados Unidos que, como el jazz y el blues,
    muscle cars como el Mustang o el Challenger, o los dónuts
    Krispy Kreme, se han exportado por todo el mundo y han
    causado un impacto inconfundible en gran cantidad de culturas. Incluso el observador más despreocupado sabe que son
    relatos llenos de acción, aventuras, intriga y un trabajo artístico de primera. Pero lo que no se ha comprendido aún con la
    debida claridad es que también merecen una atención intelectual seria, porque nos presentan temas e ideas hondamente filosóficos y lo hacen de un modo fascinante. De veras. Sin
    bromas. </p>